[Unit]
Description=Copay
Wants=insight.service peerjs-server.service
After=insight.service peerjs-server.service

[Service]
User=copay
Group=copay
WorkingDirectory=/usr/share/copay
EnvironmentFile=/etc/conf.d/copay
ExecStartPre=/usr/bin/sed -i "s#|| 3000#|| ${COPAY_PORT}#" app.js
ExecStart=/usr/bin/node app.js
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
