[Unit]
Description=Omniwallet
Requires=nginx.service
After=nginx.service

[Service]
User=omniwallet
Group=omniwallet
WorkingDirectory=/usr/share/omniwallet
ExecStart=/bin/bash -e app.sh

[Install]
WantedBy=multi-user.target
