[Unit]
Description=StackEdit

[Service]
User=stackedit
Group=stackedit
WorkingDirectory=/usr/share/stackedit
ExecStart=/usr/bin/node server.js
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
